.navbar{
    background: #003F62;
    height: 100px;
    width: 100%;
}

.formOne{
    display: flex;
    position: relative;
}

.formTwo{
    position:relative;
}

.btns{
    
    color: white;
}

.headingNav{
    height: 50px;
    width: 100%;
}
.footerNav{
    background: #F4F4F4;
}