.hei {
  height: 394px;
}

.head-btn {
  padding: 15px;
  margin: 20px;
  margin-left: 0;
  margin-top: 0;
  border-radius: 20px;
  width: 144px;
  height: 61px;
}

.heih {
  height: 130px;
  width: 175px;
  font-size: 43px;
}

.s {
  background: #eda415;
  border: 0;
}
.a {
  background-color: white;
  border: 1px solid black;
}
